.App {
  min-height: 100vh;
  text-align: center;
  background-color: white;
;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ffcc00;


}

.App-header nav a {
  display: inline-block;
  margin: 0.5em 0.1em 0.5em 0.1em;
  padding: 0.5em 1.5em 0.5em 1.5em;
  text-decoration: none;
  color: #d20000;
  font-family: Serif;
    font-size: 2vw;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
    border-color: #d20000;
    color: #d20000;
    font-family: Serif;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius:5px;
    margin-bottom: 0.5em;
}
