.button{
    border-color: #d20000;
    color: #d20000;
    font-family: Serif;
    font-weight: bold;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius:5px;
    margin: 0.5em;
}

.date{
    border: 3px solid #d20000;
    border-radius:7px;
    margin: 1.5em 4em 1.5em 4em;
    background-color: white;
    color: #efc900;
    font-size: large;
    font-weight: bold;
}


.frame{
    border-color: #d20000;
    border-width: 2px;
    border-style: solid;
    border-radius:5px;
    margin: 1.5em 5em 1.5em 5em;
}

.margin{
    margin: 10px 0px 10px 0px;
}

h1{
    color: #d20000;
}

.applied{
    background-color: gold;
    border-color: gold;
}

.napplied{
    background-color: darkgray;
    border-color: darkgray;
}


.fixed{
    background-color: limegreen;
    border-color: limegreen;
}